<!DOCTYPE html>
<html>
<head>
  <title>Malice</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand text-white">MALICE</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to "Domov", home_path, class: "nav-link" %>
          </li>
        </ul>
        <ul class="navbar-nav navbar-right">
            <% if admin_signed_in? %>
        <!--This block is only visible to signed in admins -->
        
       <li class="nav-item"><%= link_to "Dodaj malico", new_post_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to 'Moj raÄun', edit_admin_registration_path, class: "nav-link"  %></li>
          <li class="nav-item"><%= link_to 'Odjava', destroy_admin_session_path, :method => :delete, class: "nav-link" %></li>
        <!-- The block ends here -->
        <% else %>
          <li class="nav-item"><%= link_to "Prijava", new_admin_session_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "Sign in with Google", admin_google_oauth2_omniauth_authorize_path, class: "nav-link" %></li>
        <% end %>
      </div>
    </nav>


<main role="main" class="container">

    <div class="starter-template">
<%= yield %>
    </div>

</main><!-- /.container -->

</body>
</html>
